<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biodata</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<style>
	html {
		background-color: #DCDCDC;
	}

	body {
		display: inline-block;
	    margin: auto;
	    border-width: 5px;
	    border-color: #A9A9A9;
	    border-style: solid;
	    padding: 10px;
	    background-color: white;
	}

	.photo img {
		float: left;
		border-radius: 50%;
		width: 200px;
		margin-right: 30px;
		margin-left: 10px;
		margin-top: 50px;
		text-align: center;
	}

	.data .id {
		font-size: 20px;
	}

	.data {
	    padding: 30px;
    	overflow: hidden;
		background-color: #F5F5DC;
	}
</style>
<body>
	<div class="julia">
		<div class="photo">
			{% load static %}
			<img src="{% static "lab_1/julia.jpg" %}" alt="Julia Ningrum">
		</div>
		<div class="data">
			<div class="id">
				<strong>{{ name }}</strong>
				<br />
				<small>{{ npm }}</small>
				<br />
				<small>{{ age }} years old</small>
			</div>
			<p>
				<i class="material-icons">school</i>
				Universitas Indonesia 
				<br />
				<i class="material-icons">email</i>
				julia.ningrum@ui.ac.id
				<br />
				<i class="material-icons">palette</i>
				Gaming
				<br />
				<br />
				Saya biasa dipanggil "Juli". Saya lahir pada tanggal 27 Juli 2000.
				Saya jurusan Ilmu Komputer.
			</p>
		</div>
	</div>
	<div class="Cloud">
		<div class="photo">
			{% load static %}
			<img src="{% static "lab_1/Cloud.jpg" %}" alt="Cloud">
		</div>
		<div class="data">
			<div class="id">
				<strong>Clouddian Fazalmuttaqin</strong>
				<br />
				<small>1706984543</small>
				<br />
				<small>19 years old</small>
			</div>
			<p>
				<i class="material-icons">school</i>
				Universitas Indonesia 
				<br />
				<i class="material-icons">email</i>
				clauddian9@gmail.com
				<br />
				<i class="material-icons">palette</i>
				Reading a novel, watching a movie, and playing an online game.
				<br />
				<br />
				A dedicated student with proven analysis and problem-solving skills, 
				highly interested in business and IT development.
			</p>
	</div>
	<div class="Yosua">
		<div class="photo">
			{% load static %}
			<img src="{% static "lab_1/yosua.jpg" %}" alt="Yosua">
		</div>
		<div class="data">
			<div class="id">
				<strong>Yosua Krisnando Bagaskara</strong>
				<br />
				<small>1706039591</small>
				<br />
				<small>19 years old</small>
			</div>
			<p>
				<i class="material-icons">school</i>
				Universitas Indonesia 
				<br />
				<i class="material-icons">email</i>
				yosua1010101@gmail.com
				<br />
				<i class="material-icons">palette</i>
				Singing, Dancing, Reading, and Sleeping
				<br />
				<br />
				Nama saya Yosua. Hobi saya menyanyi, menari, membaca, dan tidur.
				Tanggal lahir saya 16 Desember 1998.
			</p>
	</div>
</body>
</html>
